
<div class="container-fluid my-3 py-3">

    <div class="row">
        <div class="col-lg-4">
            <!-- controls -->
            <div class="row">
                <div class="card">
                    <div class="bg-gray">
                        <div class="card-title">
                            
							<h1>Stream 1: Test View</h1>
							{% include "nav.html" %}
                        </div>
                    </div>
					
					{% include "stream.html" %}
					<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
                    <div class="card-body">
                        
                        <div class="py-2 my-2">
                            <h4>Controls</h4>
							<a href="/light">Activate Light</a>
							
                        </div>

                        <div class="py-2 my-2">
                            
							<a href="/nolight">Deactivate Light</a>
							
							
                        </div>

                        <div class="py-2 my-2">
                            <h4>Pan Camera</h4>
                            <form method = 'POST'>
                                <div class="rangeslider"> 
                                    <input type="range" min="0" max="180" value="90" class="myslider" id="sliderRange"> 
                                    <p>
                                        Position: <span id="demo"></span>º
                                    </p> 
                                </div> 
                                    
                                    <script> 
                                        const Http = new XMLHttpRequest();
                                        var rangeslider = document.getElementById("sliderRange"); 
                                        var output = document.getElementById("demo"); 
                                        var current;
                                                    
                                        rangeslider.oninput = function() {
                                            current = this.value;
                                            
                                            if (current < 33){
                                                output.innerHTML = current;
                                                }
                                            else if (current >= 33 && current <= 66){
                                                output.innerHTML = current;
                                            }
                                            else if (current > 66){
                                                output.innerHTML = current;
                                            }
                                        
                                            // I've added this call to the server, which send 'current' value
                                            var valint = Math.round(current)
                                            Http.open('POST', '/slider_update');
                                            Http.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
                                            Http.send("val=" + valint.toString());
                            
                                        }
                            
                                    </script> 
                            
                            
                                </form>
                        </div>
                        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  				
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

						<meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

